h2{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 40px;
}
body{
    padding: 60px;
}
li{
  font-family: fantasy;
  font-size: 14px;
}
button{
  cursor:pointer;
  border-color: rgb(0, 0, 0);
  border-radius: 10%;
  width: 100%;
}
input{
  color: crimson;
  width: 100%;
  font-size: 1.3rem;
}
.card{
  align-content: center;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
}
.card p{
  padding: 5px;
  text-align: center;
}
.card img{
  max-height: 170px;
  
}
.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
